@font-face {
    font-family: judul;
    src: url(amita-Reguler.ttf);
}

h3{
  font-family: judul;
}
.th{
    border:none;
}
.button{
  margin-bottom:0px;
  text-align: center;
}
.bungkus{
  margin:5% 5% auto
}
.th{
  width:22.5%;
}
#judul{
  text-align: center;
}
.disabled {
   pointer-events: none;
   cursor: default;
}
